body {
    font-family: 'Poppins' sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #5e5b5bad;
    color: black;
}

body.modo-escuro {
    background-color: #333;
    color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}
header .logo {
    width: 100px;
    transition: 0.2s ease-in-out;
}
 header .imagem-botao {
    width: 50px;
    transition: 0.2s ease-in-out;
}
header #botao-alterar-tema {
    background: none;
    border: none;
}

header .logo:hover, 
header .imagem-botao:hover,
main .cartao-pokemon:hover {
    transform: scale(1.05);
    cursor: pointer;
}

main {
    padding: 25px;
}

main .listagem-chainsaw {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao-chainsaw {
    background-color: #d8e3ec;
    height: 300px;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

main .cartao-chainsaw:hover {
    background-color: rgb(101, 201, 0);
    color: orangered;
    transform: scale(1.08);
}

.modo-escuro .cartao-chainsaw {
	background-color: darkgray;
}
.modo-escuro .cartao-chainsaw:hover {
	background-color: black;
}

main .cartao-chainsaw .informacoes {
    display: flex;
    justify-content: space-between;
    border: 1px solid #333;
    border-radius: 10px;
}

main .cartao-chainsaw .informacoes span {
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .cartao-chainsaw .img {
    width: 90px;
    height: 90px;
}

main .cartao-chainsaw .tipos {
    display: flex;
    gap: 30px;
}

main .cartao-chainsaw .tipo {
    padding: 5px;
    height: 25px;
    border-radius: 10px;
    margin: 8px;
}

main .descricao {
    max-width: 1000px;
    height: 100px;
    overflow-y: scroll;
    font-size: 15px;
    padding-right: 20px;
}

.manipuladora {
    background-color: brown;
}

.chainsaw {
    background-color: yellow;
    color: darkgoldenrod;
}

.sangue {
    background-color: crimson;
}

.serra {
    background-color: orange;
}

.velho {
    background-color: #d8e3ec;
}

.lamina {
    background-color: #333;
    color: #d8e3ec;
}

.frio {
    background-color: cornflowerblue;
}

.louca {
    background-color: blueviolet;
}